.jumbotron {
    background-image: url(pngtree-ai-generated-abstract-electronic-circuit-board-background-neon-tone-glowing-in-image_15691890.jpg);
    background-size: cover;
    background-position: 0 -100px;
    color: rgb(56, 255, 6);
    background-attachment: fixed;
}

.jumbotron img {
    width: 500px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
section {
    min-height: 450px;
}
.col-lg-4 {
    margin-bottom: 10px;
}
.row .col-lg-4 img {
    width: 300px;
    height: 150px;
}
footer {
    color: white;
    background-color: rgb(46, 46, 46, 46);
}