.jumbotron {
    background-image: url(../ing/download\ \(1\).jpg);
    background-size: cover;
    background-position: 0-100px;
    color: white;
    background-attachment: fixed;
}

.jumbotron img {
    width: 500px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
section {
    min-height: 450px;
}
.co1-1g-4 {
    margin-botton: 10px;
}
.rom .co1-1g-4 img {
    width: 300px;
    height:150px;
}
footer {
    color: white;
    background-color: rgb(46, 46, 46, );
}